init_config:

instances:
  ## @param consumer - string - required
  ## The consumer to collect metrics for, either 'default' or a custom consumer
  ## from your Vespa application's services.xml.
  ## See https://docs.vespa.ai/documentation/reference/services-admin.html#metrics
  #
  - consumer: default
